@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Russo+One&display=swap'); /* fontes IBM Plex Mono e Russo One */

/* GERAL */
footer{
    background-color: #1b1d1c;
}
.Rodape{
    color: white;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
/* PAGINA INICIAL */
body#pagincial{
    background-color: #292c2a;
}
p#pinicial{
    font-family: 'Russo One', sans-serif;
    color: white;
    text-align: center;
    margin-top: 8%;
    font-size: 300%;
    margin-bottom: 0%;
}
img#imgInicial{
    margin-left: 10%;
}
/* OLA MUNDO */
body#port{
    background-color: #719c78;
}
/* HOLA MUNDO */
body#esp{
    background-color: #c79d1ec9;
}
/* HELLO WORLD */
body#eng{
    background-color: #354e88;
}